#LoopAI Core
LOOPAI_LOCALHOST=http://localhost:8080
WEB_OR_CLI=web
WEB_IN_DOCKER=false

#PostgreSQL config 'localhost' if runs in localhost and postgres or db if in docker
POSTGRESQL_DB_HOST=db
POSTGRESQL_DB_NAME=loopai
POSTGRESQL_DB_NAME_WEB=loopai
POSTGRESQL_DB_PORT=5432
POSTGRESQL_DB_USER=postgres
POSTGRESQL_DB_PASSWORD=admin
SQLALCHEMY_DATABASE_URI=postgresql://${POSTGRESQL_DB_USER}:${POSTGRESQL_DB_PASSWORD}@${POSTGRESQL_DB_HOST}:${POSTGRESQL_DB_PORT}/${POSTGRESQL_DB_NAME}

# GPT API Configuration
GPT_API_KEY=your-gpt-api-key
GPT_API_URL=https://api.openai.com/v1/engines/davinci-codex/completions

# Other API Keys and Secrets
SECRET_KEY=your-secret-key
DEBUG=True

# Additional Configuration
MAX_CONTENT_LENGTH=16777216
LOG_LEVEL=INFO

CORS_ORIGINS=http://localost:*,http://localost:3000,http://localost:8080
CORS_ALLOW_ORIGIN_URL=http://localhost

# from inside the container
LOOPAI_ROOT=/app
LOOPAI_SINGLE_FILESYSTEM_PATH=/app/var/filesystem
LOOPAI_WEB_USERS_FILESYSTEM_PATH=/app/web/users

FEATHERLESS_API_KEY=get_your_featherless_api_key
FEATHERLESS_API_URL=https://api.featherless.ai/v1

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=@your_channel_username

REDIS_HOST=localhost
REDIS_PORT=6379